.sign-up-wrapper {
  background: url('./../../Landing/Running-paris.jpg');
  background-size: cover;
  height: 100vh;
  padding: 10px;
  text-align: center;
  padding-top: 20vh;
}

.sign-up {
  padding: 10px;
}

.footer {
  text-align: center;
}

.input-email,
.input-username {
  margin-bottom: 15px;
}

.sign-up-button {
  margin: 5px 30px 5px 30px;
}

.sign-in-link {
  color: black;
  text-align: center;
  border-bottom: 1px black;
  width: auto;
}

.sign-in-link:hover {
  opacity: 0.5;
  color: black;
}

.input:focus {
  border-color: lightgray;
  box-shadow: none;
  outline: 0 none;
}

.logo-link:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

@media (max-width: 600px) {
  .sign-up-wrapper {
    padding-top: 10vh;
  }
}
